<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Homatisation</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href='assets/vendor/bootstrap/dist/css/bootstrap.min.css' />
    <link rel="stylesheet" href='assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css' />
    <link rel="stylesheet" href='assets/vendor/materialize/dist/css/materialize.min.css' />
    <link rel="stylesheet" href='assets/vendor/components-font-awesome/css/font-awesome.min.css' />
    <link rel="stylesheet" href='assets/styles.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>
<body ng-app="app">
    <div ng-controller="appCtrl">
        <ul id="recipes-list" class="row">
            <li ng-repeat="recipe in recipes" ng-if="recipe.picture && recipe.visible" ng-click="execRecipe(recipe)" ng-class="{'error': recipe.error}" class="recipe col-md-4 .col-xs-6" style="background-image: url(/images/{{ recipe.picture }}); height: {{ recipeWidth }}px; width: {{ recipeWidth }}px; margin-left: {{ marginLeft }}px; margin-bottom: {{ marginLeft }}px">
                <div ng-if="!recipe.runing"></div>
                <div ng-if="recipe.runing"><i class="recipe-icon fa fa-circle-o-notch  fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true"></i></div>
            </li>
        </ul>

        <div id="suggestion" ng-if="suggested_action && suggested_action.recipe" ng-click="execRecipe(suggested_action.recipe)">
            <img src="images/{{ suggested_action.recipe.picture }}" />
            <span class="ambiance">
                {{ suggested_action.recipe.ambiance }}
            </span>

        </div>
    </div>
    <script src='assets/vendor/angular/angular.min.js'></script>
    <script src='assets/vendor/jquery/dist/jquery.min.js'></script>
    <script src='assets/vendor/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js'></script>
    <script src='assets/app.js'></script>
<script>
    function requestFullScreen(element) {
    // Supports most browsers and their versions.
    var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;

    if (requestMethod) { // Native full screen.
        requestMethod.call(element);
    } else if (typeof window.ActiveXObject !== "undefined") { // Older IE.
        var wscript = new ActiveXObject("WScript.Shell");
        if (wscript !== null) {
            wscript.SendKeys("{F11}");
        }
    }
}
document.addEventListener("DOMContentLoaded", function(event) {
var elem = document.body; // Make the body go full screen.
requestFullScreen(elem);});</script>
</body>
</html>
